<%= form_with model: @team do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "components/form_control", label: I18n.t('teams.name'), required: true do |input_id| %>
    <%= f.text_field :name, id: input_id, class: 'border border-[var(--textColor)] rounded-md px-4 py-2 text-[var(--textColor)] focus:outline-none focus:ring-2 focus:ring-blue-500 w-full' %>
  <% end %>
  <div class="mt-4">
    <%= f.submit I18n.t('button.save'), class: 'inline-flex gap-x-1 items-center align-middle justify-center border border-solid border-[#5E626E] bg-[#FCFCFD] rounded-lg whitespace-nowrap px-3 py-2 text-base font-bold' %>
  </div>
<% end %>