<div class="flex items-center justify-between mb-4">
  <h2 class="text-base font-bold">Members</h2>
  <%= render "components/button",
    title: "Invite",
    size: "s" %>
</div>

<div class="bg-[#FCFCFD] rounded-lg shadow-sm">
  <%= turbo_frame_tag @team do %>
    <ul class="px-4 divide-y divide-gray-100">
      <% @team.team_profiles.each do |tp| %>
        <%= turbo_frame_tag tp do %>
          <li class="py-4">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <%= render "components/avatar",
                           url: tp.profile.avatar_url,
                           name: tp.profile.name,
                           show_tooltip: true %>
                <div>
                  <p class="text-xs font-bold text-gray-500"><%= tp.human_attribute_enum(:role) %></p>
                  <p class="text-base"><%= tp.profile.name %></p>
                </div>
              </div>
              <% if @team.admin?(@user) %>
                <% if tp.admin? || tp.member? %>
                  <%= form_with(url: team_member_path(tp.profile, team_id: @team), method: :patch) do |f| %>
                    <% if tp.admin? %>
                      <%= f.hidden_field :role, value: :member %>
                      <%= f.submit I18n.t('button.set_member'), class: "inline-flex gap-x-1 items-center align-middle justify-center border border-solid border-[#5E626E] bg-[#FCFCFD] rounded-lg whitespace-nowrap px-3 py-2 text-base font-bold" %>
                    <% end %>
                    <% if tp.member? %>
                      <%= f.hidden_field :role, value: :admin %>
                      <%= f.submit I18n.t('button.set_admin'), class: "inline-flex gap-x-1 items-center align-middle justify-center border border-solid border-[#5E626E] bg-[#FCFCFD] rounded-lg whitespace-nowrap px-3 py-2 text-base font-bold" %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= form_with(url: "/teams/#{@team.id}/members/#{tp.profile.id}", method: :delete) do |f| %>
                  <%= f.submit tp.invitation? ? I18n.t('button.cancel') : I18n.t('button.remove'), data: { turbo_confirm: I18n.t("dialog.remove_member"), turbo_frame: ActionView::RecordIdentifier.dom_id(@team) }, class: "inline-flex gap-x-1 items-center align-middle justify-center border border-solid border-[#5E626E] bg-[#FCFCFD] rounded-lg whitespace-nowrap px-3 py-2 text-base font-bold text-red-600" %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
