<% content_for :head do %>
  <meta property="og:url" content="<%= team_url(@team) %>">
<% end %>

<% if @breakout_turbo %>
  <% turbo_page_requires_reload %>
<% end %>

<div class="flex flex-col sm:flex-row items-center mx-auto mt-3 mb-6 max-w-[1120px] gap-4">
  <div class="w-full">
    <div class="w-full flex items-center gap-1">
      <div class="ml-2"><h1 class="text-2xl"><%= @team.name %></h1></div>
      <% if @team.admin?(@user) %>
        <div class="flex-grow flex justify-end sm:flex-grow-0 ml-2" data-controller="dialog" data-dialog-element-id-value="edit-name-dialog">
          <button
            class="p-2 text-sm min-h-[calc(0.587143rem+18px)] border-[rgb(214,211,208)] bg-white text-[rgb(35,34,30)] normal-button"
            data-action="click->dialog#open"
          >
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class=" smarthr-ui-Icon" role="img" aria-hidden="true" focusable="false" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"></path></svg>
            <%= I18n.t('button.edit') %>
          </button>
          <%= render 'rename_dialog', team: @team %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="w-full justify-end flex gap-4">
    <div data-controller="dialog" data-dialog-element-id-value="edit-setting-dialog">
      <button
        class="p-2 text-sm min-h-[calc(0.587143rem+18px)] border-[rgb(214,211,208)] bg-white text-[rgb(35,34,30)] normal-button"
        data-action="click->dialog#open"
      >
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class=" smarthr-ui-Icon" role="img" aria-hidden="true" focusable="false" height="11" width="11" xmlns="http://www.w3.org/2000/svg"><path d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"></path></svg>
        <%= I18n.t('button.manage_members') %>
      </button>
      <%= render template: "members/dialog" %>
    </div>
    <% if @team.admin?(@user) %>
      <div>
        <%= link_to @team, data: { turbo_method: :delete, turbo_confirm: I18n.t('dialog.delete_team')}, class: 'p-2 text-sm min-h-[calc(0.587143rem+18px)] border-red-700 danger-button' do %>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" width="1em" height="1em" class="smarthr-ui-Icon group-[]/iconWrapper:shr-shrink-0 group-[]/iconWrapper:shr-translate-y-[0.125em] forced-colors:shr-fill-[CanvasText]" role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
          <%= I18n.t('button.delete_team') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div data-controller="schedule-table" class="max-w-[1120px] mx-auto">
  <div class="flex overflow-x-auto overflow-y-hidden gap-2 p-0">
    <div class="relative flex sm:block justify-between flex-grow shrink-0 basis-auto m-1 before:absolute before:left-0 before:right-0 before:bottom-0 before:border-b-[1px]">
      <% @schedule_table.days.each do |day| %>
        <button data-action="click->schedule-table#switch" value="<%= day %>" class="tab-button bg-transparent appearance-none font-bold font-base text-[rgb(112,109,101)] h-10 solid border-0 border-b-[3px] px-2 sm:px-6 box-border border-b-transparent hover:bg-[rgb(248,247,246)] hover:text-[rgb(35,34,30)]">
          <%= day %>
        </button>
      <% end %>
    </div>
  </div>
  <div class="mt-4 overflow-y-auto">
    <% @schedule_table.days.each do |day| %>
      <div id="schedule-<%= day %>" class="schedule-table hidden">
        <table class="h-full w-full border-collapse border-spacing-0">
          <thead>
            <th class="p-4 text-sm leading-4 border border-solid border-[rgb(214,211,208)] w-auto min-w-[184px] text-left"><%= I18n.t('table.start_end') %></th>
            <% @schedule_table[day].track_list.each do |track| %>
              <th class="p-4 text-sm leading-4 border border-solid border-[rgb(214,211,208)] w-auto text-center"><%= track %></th>
            <% end %>
          </thead>
          <tbody>
            <% @schedule_table[day].rows.each do |row| %>
              <% @selected = @plan.plan_schedules.map(&:schedule).any? { row.schedules.include?(_1) } %>
              <tr class="align-baseline">
                <th class="py-2 px-0 align-baseline">
                  <div class="flex flex-col gap-1">
                    <div class="flex items-center">
                      <p class="text-xl font-normal mr-4 shrink-0"><%= row.start_end %></p>
                      <hr class="w-full h-[1px] mr-4 bg-[rgb(214,211,208)] border-none">
                    </div>
                    <p class="text-sm font-bold text-[rgb(112,109,101)] text-left"><%= row.timezone %></p>
                  </div>
                </th>
                <% @schedule_table[day].track_list.each do |track| %>
                    <td>
                      <div class="p-2"><%= row.tracks[track] ? render("schedules/card", schedule: row.tracks[track], mode: :team, inactive: @selected) : nil %></div>
                    </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "modal" %>
