<% content_for :head do %>
  <meta property="og:url" content="<%= profile_url %>">
<% end %>

<% if @breakout_turbo %>
  <% turbo_page_requires_reload %>
<% end %>

<% if @profile %>
  <h1 class="mb-4 text-2xl">Profile</h1>
  <div class="flex flex-col p-4 space-y-4 rounded-lg bg-[#FCFCFD] shadow-md">
    <div class="flex flex-col justify-center items-center gap-4">
      <%= turbo_frame_tag @profile do %>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-x-2">
            <img src="<%= @profile.avatar_url %>" class="w-16 h-16 rounded-full object-cover">
            <h2 class="text-2xl truncate max-w-[calc(100%-2rem)]"><%= @profile.name %></h2>
          </div>
          <div class="ml-2" data-controller="dialog" data-dialog-element-id-value="edit-introduce-dialog">
            <%= render 'components/button', title: I18n.t('button.edit'), data: { action: 'click->dialog#open' } %>
            <%= render 'dialog', profile: @profile %>
          </div>
        </div>
        <p class="w-full text-left leading-6"><%= @profile.introduce %></p>
      <% end %>
      <% if my_profile? && @profile.belongs_to_any_team? %>
        <div class="w-full text-left">
          <h3 class="mb-1 font-bold text-xs">Your Team</h3>
          <% if my_profile? %>
            <a href="<%= team_path(@user.profile.current_team) %>">
              <p><%= @user.profile.current_team.name %></p>
            </a>
          <% else %>
            <p><%= @user.profile.current_team.name %></p>
          <% end %>
        </div>
      <% elsif my_profile? %>
          <% if @user.profile.invitations? %>
            <span class="m-4">OR</span>
            <ul>
              <% TeamProfile.where(profile: @user.profile, role: [:invitation]).each_with_index do |invitation, i| %>
                <%= form_with(url: team_member_path(@user.profile, team_id: invitation.team), method: :patch) do |f| %>
                  <%= f.hidden_field :role, value: :member %>
                  <li><%= f.submit "join to #{invitation.team.name}", class: "primary-button w-64" %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
      <% if @profile.trophies&.present? %>
        <div class="w-full text-left">
          <h3 class="mb-1 font-bold text-xs">Trophies</h3>
          <div class="flex flex-wrap gap-2">
            <% @profile.trophies.order(:order).each do |trophy| %>
              <div data-controller="dialog" data-dialog-element-id-value="<%= trophy.id %>-dialog">
                <img
                  data-action="click->dialog#open"
                  src="<%= image_url trophy.icon_url %>"
                  class="rounded-full h-12 w-12 border-4 <%= trophy.common? ? "border-slate-950" : trophy.uncommon? ? "border-gray-300" : trophy.rare? ? "border-amber-300" : "border-orange-600" %>"
                  />
                <dialog id="<%= trophy.id %>-dialog" class="dialog">
                  <div class="border-b-[1px] border-[rgb(214,211,208)] py-4 px-6 flex flex-col justify-start">
                    <p class="text-xl"><%= trophy.name %></p>
                  </div>
                  <div class="max-h-[calc(100vh-212px)] overflow-auto">
                    <div class="w-full p-6">
                      <%= turbo_frame_tag trophy, src: trophy_path(trophy), loading: :lazy  %>
                    </div>
                  </div>
                  <div class="border-t-[1px] border-[rgb(214,211,208)] flex flex-col py-4 px-6">
                    <div class="flex justify-end">
                      <button type="button" class="normal-button mr-2" data-action="click->dialog#close"><%= I18n.t('button.close')%></button>
                    </div>
                  </div>
                </dialog>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="w-full text-left">
        <h3 class="mb-1 font-bold text-xs">Your 2D Code</h3>
        <div class="flex justify-center items-center">
          <div class="w-40">
            <%= turbo_frame_tag 'friend-qr', src: new_profile_friend_path, loading: :lazy %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="flex items-center justify-center h-96">
    <div class="h-auto">
      <%= form_tag('/auth/github', method: 'post' , data: {turbo: false}) do %>
        <button type='submit' class="p-2 border border-black border-solid rounded-md">
          <div class="flex items-center gap-2">
            <img src="/icons/github-mark.svg" class="w-6 h-6">
            <span class="font-bold">
                Sign up with GitHub
              </span>
          </div>
        </button>
      <% end %>
    </div>
  </div>
<% end %>
