<header class="w-full h-16 px-4 bg-gradient-to-b from-[#FFEB0C] from-0% via-transparent via-20% to-[#FCFCFD] to-20%">
  <div class="h-full flex justify-between items-center">
    <div class="flex flex-col gap-2 pt-2">
      <%= link_to root_path do %>
        <h1 class="font-medium text-[#5E626E]">Schedule.select</h1>
      <% end %>
      <% unless Rails.env.test? %>
        <a href="<%= event_path %>">
          <img class="h-3" src="<%= asset_path("#{@event.name}/rubykaigi_logo.svg") %>" alt="RubyKaigi 2024">
        </a>
      <% end %>
    </div>

    <div class="relative">
      <% if @user %>
        <div data-controller="dropdown">
          <button type="button" 
                  class="flex items-center cursor-pointer"
                  data-action="click->dropdown#toggle">
            <img
              src="<%= @user.profile&.avatar_url || 'https://placehold.jp/150x150.png' %>"
              alt="Profile"
              class="w-10 h-10 rounded-full"
            >
          </button>
          <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
               data-dropdown-target="menu">
            <div class="py-1">
              <%= link_to I18n.t('nav.profile'), profile_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" %>
              <%= link_to I18n.t('nav.team_settings'), teams_url, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" %>
              <%= button_to I18n.t('nav.sign_out'), session_path, method: :delete, class: "block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" %>
            </div>
          </div>
        </div>
      <% else %>
        <%= form_tag('/auth/github', method: 'post' , data: { turbo: false }) do %>
          <button type="submit" class="inline-flex items-center py-1 px-2 border border-[#5E626E] text-sm text-black font-bold rounded-md bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer gap-1">
            <span><%= I18n.t('nav.sign_in') %></span>
            <%= render("components/icons/chevron_right") %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
