<%# `default` か `s` を選択可能 %>
<% size ||= "default" %>
<% classes ||= "" %>
<% icon ||= "" %>
<% disabled ||= false %>
<% onClick ||= "" %>
<% data ||= nil %>
<% data_action ||= nil %>
<% button_classes = [
  "inline-flex gap-x-1 items-center align-middle justify-center border border-solid border-[#5E626E] bg-[#FCFCFD] rounded-lg whitespace-nowrap",
  (size == "s" ? "px-2 py-1" : "px-3 py-2"),
  classes
].join(" ") %>
<% text_classes = [
  "text-base font-bold",
  (disabled ? "text-[#CDCFD5]" : "text-[#131416]"),
].join(" ") %>
<% form_helper ||= nil %>

<% if form_helper %>
  <%= form_helper.button type: :submit, class: button_classes, disabled: disabled, data: data do %>
    <%= raw icon %>
    <span class="<%= text_classes %>">
    <%= title %>
  </span>
  <% end %>
<% else %>
  <button
    class="<%= button_classes %>"
    onclick="<%= onClick %>"
    <%= "disabled" if disabled %>
    <%= "data-action=#{data_action}" if data_action %>
  >
    <%= raw icon %>
    <span class="<%= text_classes %>">
    <%= title %>
  </span>
  </button>
<% end %>
