<%# `default` か `s` を選択可能 %>
<% size ||= "default" %>
<% classes ||= "" %>
<% icon ||= "" %>
<% disabled ||= false %>
<% onClick ||= "" %>
<% button_classes = [
  "inline-flex gap-x-1 items-center align-middle justify-center border border-solid border-[#5E626E] bg-[#FCFCFD] rounded-lg",
  (size == "s" ? "px-2 py-1" : "px-3 py-2"),
  classes
].join(" ") %>
<% text_classes = [
  "text-base font-bold",
  (disabled ? "text-[#CDCFD5]" : "text-[#131416]"),
].join(" ") %>
<button class="<%= button_classes %>" onclick="<%= onClick %>" disabled="<%= disabled %>">
  <%= raw icon %>
  <span class="<%= text_classes %>">
    <%= title %>
  </span>
</button>