<% size ||= "default" %>
<% classes ||= "" %>
<% icon ||= "" %>
<% disabled ||= false %>
<% onClick ||= "" %>
<button class="inline-flex gap-x-1 items-center align-middle justify-center border border-solid border-[#5E626E] bg-[#FCFCFD] rounded-lg
  <%= size == "s" ? "px-2 py-1" : "px-3 py-2" %>
  <%= classes %>" onclick="<%= onClick %>">
  <%= raw icon %>
  <span class="text-base font-bold <%= "text-[#CDCFD5]" if disabled == true %>">
    <%= title %>
  </span>
</button>