<%# profiles: name と avatar_url を含むハッシュの配列 %>
<%# dialog_id: ダイアログのID %>
<%# session_info: セッション情報（オプション） %>
<% dialog_id ||= "friends-dialog-#{SecureRandom.hex(4)}" %>
<% session_info ||= nil %>

<%= render layout: 'components/dialog', locals: { 
  title: t('dialog.attendee_title'), 
  dialog_id: dialog_id,
  header_content: session_info.present? ? capture do %>
    <div class="bg-gray-100 flex flex-col gap-y-2 p-4">
      <% if session_info[:time].present? %>
        <div class="text-lg text-gray-600"><%= session_info[:time] %></div>
      <% end %>
      <div class="flex flex-col gap-y-1">
        <% if session_info[:language].present? || session_info[:location].present? %>
          <div class="text-base text-gray-500">
            <%= session_info[:language] %><% if session_info[:language].present? && session_info[:location].present? %> · <% end %><%= session_info[:location] %>
          </div>
        <% end %>
        <% if session_info[:title].present? %>
          <div class="text-xl font-bold"><%= session_info[:title] %></div>
        <% end %>
      </div>
      <% if session_info[:presenter].present? %>
        <div class="flex items-center">
          <%= render 'components/avatar', 
                     name: session_info[:presenter][:name], 
                     url: session_info[:presenter][:avatar_url], 
                     size: 'm' %>
          <div class="ml-2 flex flex-col">
            <span class="text-sm font-bold"><%= session_info[:presenter][:name] %></span>
            <% if session_info[:presenter][:handle].present? %>
              <span class="text-sm text-gray-500">@<%= session_info[:presenter][:handle] %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end : nil
} do %>
  <div class="flex flex-col">
    <div class="flex justify-between border-b pb-2 mb-4">
      <div class="text-lg font-bold"><%= t('dialog.attendee_friends') %></div>
    </div>
    
    <% if profiles.present? %>
      <div class="flex flex-col divide-y">
        <% profiles.each do |profile| %>
          <div class="flex items-center py-3">
            <%= render 'components/avatar', name: profile[:name], url: profile[:avatar_url], size: 'm' %>
            <div class="ml-2">
              <%= profile[:name] %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="py-4 text-center text-gray-500">
        <%= t('dialog.attendee_no_friends') %>
      </div>
    <% end %>
  </div>
<% end %> 