<% @selected = @plan.plan_schedules.map(&:schedule).any? { row.schedules.include?(_1) } %>
<tr class="align-baseline" id="<%= row.turbo_stream_id %>">
  <th class="py-2 px-0 align-baseline">
    <div class="flex flex-col gap-1">
      <div class="flex items-center my-4">
        <p class="text-xl font-normal mr-4 shrink-0"><%= row.start_end %></p>
        <hr class="w-full h-[1px] mr-4 bg-[rgb(214,211,208)] border-none">
      </div>
      <p class="hidden sm:block text-sm font-bold text-[rgb(112,109,101)] text-left"><%= row.timezone %></p>
    </div>
  </th>
  <% track_list.each do |track| %>
    <td>
      <% if row.tracks[track] %>
        <div class="p-2"><%= render("schedules/card", schedule: row.tracks[track], mode: :schedule, inactive: @selected) %></div>
        <% if @user&.profile %>
          <div class="flex flex-wrap ml-6 mb-4">
            <% @user.profile.friend_profiles.each do |profile| %>
              <% if @friends_schedules_map[profile.id].include?(row.tracks[track].id) %>
                <img src="<%= profile.avatar_url %>" class="h-8 w-8 rounded-full border-2 border-black mt-[-4px] ml-[-16px] mt-1" />
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="sm:p-2"></div>
      <% end %>
    </td>
  <% end %>
</tr>
