<% content_for :head do %>
  <meta property="og:url" content="<%= event_schedules_url(event_name: @event.name) %>">
<% end %>

<%= turbo_frame_tag @event, refresh: :morph do %>
<div data-controller="schedule-table" class="max-w-[1120px] mx-auto">
  <label class="flex sm:hidden flex-col items-center mb-2">
    <span class="mb-2 text-sm font-bold text-[rgb(112,109,101)]">
      <%= I18n.t('nav.select_locale') %>
    </span>
    <div class="relative box-border w-[16.25em]" data-controller="locale" data-locale-current-value="<%= session[:locale] %>">
      <select data-action="change->locale#change" class="py-[3px] px-2 min-h-[30px] appearance-none cursor-pointer outline-none rounded-md border border-solid border-[rgb(214,211,208)] bg-white ps-2 pe-8 text-sm text-[rgb(35,34,30)] w-full align-middle">
        <% grouped_timezones.map do |k, v| %>
          <optgroup label="<%= k %>">
            <% v.map do |locale| %>
              <option label="<%= locale %>" value="<%= locale %>" <%= locale == session[:locale] ? "selected" : nil %>><%= locale %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>
  </label>
  <div class="flex overflow-x-auto overflow-y-hidden gap-2 p-0">
    <div class="relative flex sm:block justify-center flex-grow shrink-0 basis-auto m-1 before:absolute before:left-0 before:right-0 before:bottom-0 before:border-b-[1px]">
      <% @schedule_table.days.each do |day| %>
        <button data-action="click->schedule-table#switch" value="<%= day %>" class="tab-button bg-transparent appearance-none font-bold font-base text-[rgb(112,109,101)] h-10 solid border-0 border-b-[3px] px-4 sm:px-6 box-border border-b-transparent hover:bg-[rgb(248,247,246)] hover:text-[rgb(35,34,30)]">
          <%= day %>
        </button>
      <% end %>
    </div>
  </div>
  <div class="mt-4 overflow-y-auto">
    <% @schedule_table.days.each do |day| %>
      <%= render partial: 'table', locals: { schedule_table: @schedule_table, day: } %>
    <% end %>
  </div>
</div>
<% end %>

<%= turbo_frame_tag "modal" %>
