<% content_for :head do %>
  <meta property="og:title" content="RubyKaigi Schedule.select">
  <meta property="og:site_name" content="RubyKaigi Schedule.select powerd by SmartHR">
  <meta property="og:url" content="<%= event_schedules_url(event_name: @event.name) %>">
  <meta property="og:image" content="<%= asset_url("#{@event.name}/ogp_top.png") %>" />
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image"/>
<% end %>

<% @table_array = create_table_array(@schedules) %>

<div data-controller="schedule-table">
  <div>
    <div>
      <% @table_array.keys.map do |k| %>
        <button data-action="click->schedule-table#switch" value="<%= k %>"><%= k %></button>
      <% end %>
    </div>
  </div>
  <div>
    <% schedule_table(@table_array).each do |k, v| %>
      <table id="schedule-<%= k %>" class="schedule-table hidden">
        <thead>
          <th><%= I18n.t('table.start_end') %></th>
          <% v[:track_list].each do |track| %>
            <th><%= track %></th>
          <% end %>
        </thead>
        <tbody>
          <% v[:rows].each do |row| %>
            <tr>
              <th><%= row[:time] %></th>
              <% row[:schedules].each do |schedule| %>
                  <td>
                    <div class="mt-4 p-2"><%= schedule ? render("schedules/card", schedule:) : nil %></div>
                  </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>