<% content_for :head do %>
  <meta property="og:url" content="<%= event_url(@event.name) %>">
<% end %>
<%= turbo_frame_tag @event, refresh: :morph do %>
  <div data-controller="schedule-table">
    <div class="flex justify-center pb-4">
      <div class="flex border-b border-[#CDCFD5] w-fit">
        <% @schedule_table.days.each do |day| %>
          <button data-action="click->schedule-table#switch" value="<%= day %>" class="tab-button bg-transparent appearance-none text-sm px-4 pt-2 pb-[5px] border-b-[3px] border-transparent hover:bg-[rgb(248,247,246)]">
            <%= day %>
          </button>
        <% end %>
      </div>
    </div>

    <%= turbo_frame_tag @plan do %>
      <div class="flex justify-between items-center mb-2">
        <h2 class="text-2xl font-bold">Your Schedule</h2>
        <%= render "components/button", title: "Share", size: "s" %>
      </div>

      <% unless @plan.new_record? %>
        <div data-controller="dialog" class="bg-white rounded-lg p-4 mb-7">
          <div class="flex justify-between items-center mb-2">
            <h3 class="text-base font-bold"><%= I18n.t('description.title') %></h3>
            <%= render "components/button", title: "Edit", size: "s", data: { action: 'click->dialog#open' } %>
          </div>
          <%= form_with(url: event_plan_path(@plan, event_name: @event.name), model: @plan) do |f| %>
            <p class="text-base"><%= @plan.description %></p>
            <dialog data-dialog-target="dialog">
              <%= render 'components/dialog', title: I18n.t("description.form_title"), action_button: { title: I18n.t('button.save'), form_helper: f } do %>
                <%= render 'components/text_field', form_helper: f, attribute: :description %>
              <% end %>
            </dialog>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% cache [@schedule_table, @plan] do %>
      <div class="overflow-y-auto">
        <% @schedule_table.days.each do |day| %>
          <div id="schedule-<%= day %>" class="pb-3 pr-3 schedule-table hidden">
            <div class="flex flex-row gap-x-3">
              <div class="flex flex-col" id="schedule-index-timeline-<%= day %>">
                <%= render partial: 'components/timeline',
                           locals: {
                             events: @schedule_table[day].rows.map {
                               { start_time: _1.start_at, end_time: _1.end_at, participating: _1.schedules.any? { |s| @plan.include?(s) } }
                             },
                             start_time: @schedule_table[day].rows.first.start_at,
                             end_time: @schedule_table[day].rows.last.end_at,
                           }
                %>
              </div>
              <div class="w-full flex flex-col gap-y-3" id="mobile-table-<%= day %>">
                <% @schedule_table[day].rows.each do |row| %>
                  <%= turbo_frame_tag row.turbo_frames_id do %>
                    <%= render 'components/session',
                               row: row,
                               location: row.schedules.find { @user&.current_plan&.schedules&.include?(_1) }&.track&.name,
                               scheduled: row.schedules.find { @user&.current_plan&.schedules&.include?(_1) }
                    %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>
<% end %>
<%= turbo_frame_tag "modal" %>
