<% @table_array = create_table_array(@schedules) %>

<div class="schedule-container">
  <div class="date-selector">
    <% @table_array.keys.sort.each_with_index do |date, i| %>
      <a href="#day<%= i + 1 %>" onClick='<%= toggle_script(date, @table_array.keys)  %>'><%= date %></a>
    <% end %>
  </div>

  <% @table_array.keys.sort.each do |date| %>
    <div id="<%= date %>" style="display: <%= date == @table_array.keys.sort.first ? "block" : "none"  %>;" class="table-container">
      <table >
        <tr>
          <th><%= date %></th>
          <% @table_array[date][0][1..-1].each do |track| %>
            <th><%= track %></th>
          <% end %>
        </tr>
        <% @table_array[date][1..-1].each do |ar| %>
          <tr>
            <td><%= ar[0] %></td>
            <% ar[1..-1].each do |c| %>
              <td>
                <% unless c.nil? %>
                  <%= react_component("ScheduleCard", title: c.title, description: c.description, speakerName: c.speaker.name, language: c.language, thumbnailUrl: c.speaker.thumbnail) %>
                  <div class="container">
                    <% unless @user.plans.first&.schedules&.include?(c) %>
                      <%= form_tag(@user.plans.first, method: "patch") do %>
                        <%= hidden_field_tag(:add_schedule_id, c.id) %>
                        <%= submit_tag("Add to plans") %>
                      <% end %>
                    <% end %>
                    <% if @user.plans.first&.schedules&.include?(c) %>
                      <%= form_tag(@user.plans.first, method: "patch") do %>
                        <%= hidden_field_tag(:remove_schedule_id, c.id) %>
                        <%= submit_tag("Remove from plans") %>
                      <% end %>
                    <% end %>
                  </div>
                <%end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
