<% @grouped = @schedules.group_by { |s| s.start_at.strftime("%Y-%m-%d") } %>
<% @date_grouped = @schedules.group_by { |s| "#{s.start_at.strftime("%H:%M:%S")} - #{s.end_at.strftime("%H:%M:%S")}" } %>
<% @date_arrays = @date_grouped.keys.sort.map { |k| s = @date_grouped[k]; [k, @grouped.keys.sort.map { |d| s.find { |t| t.start_at.strftime("%Y-%m-%d") == d } }].flatten } %>

<table>
  <tr>
    <th>Schedule</th>
    <% @grouped.keys.sort.each do |date| %>
      <th><%= date %></th>
    <% end %>
  </tr>
  <% @date_arrays.each do |ar| %>
    <tr>
      <td><%= ar[0] %></td>
      <% ar[1..-1].each do |c| %>
        <td>
          <% if c.nil? %>
           -
          <% else %>
            <%= c.title %>
            <% unless @user.plans.first&.schedules&.include?(c) %>
              <%= form_tag(@user.plans.first, method: "patch") do %>
                <%= hidden_field_tag(:add_schedule_id, c.id) %>
                <%= submit_tag("Add to plans") %>
              <% end %>
            <% end %>
            <% if @user.plans.first&.schedules&.include?(c) %>
              <%= form_tag(@user.plans.first, method: "patch") do %>
                <%= hidden_field_tag(:remove_schedule_id, c.id) %>
                <%= submit_tag("Remove from plans") %>
              <% end %>
            <% end %>
          <%end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>