<% content_for :head do %>
  <meta property="og:url" content="<%= event_schedules_url(event_name: @event.name) %>">
<% end %>
<%= turbo_frame_tag @event, refresh: :morph do %>
  <div data-controller="schedule-table" class="">
    <div class="flex  overflow-x-auto overflow-y-hidden gap-2 p-0">
      <div class="relative flex justify-center flex-grow shrink-0 basis-auto m-1 before:absolute before:left-0 before:right-0 before:bottom-0 before:border-b-[1px]">
        <% @schedule_table.days.each do |day| %>
          <button data-action="click->schedule-table#switch" value="<%= day %>" class="tab-button bg-transparent appearance-none font-bold font-base text-[rgb(112,109,101)] h-10 solid border-0 border-b-[3px] px-4 sm:px-6 box-border border-b-transparent hover:bg-[rgb(248,247,246)] hover:text-[rgb(35,34,30)]">
            <%= day %>
          </button>
        <% end %>
      </div>
    </div>
    <% cache [@schedule_table, @plan] do %>
      <div class="overflow-y-auto">
        <% @schedule_table.days.each do |day| %>
          <div id="schedule-<%= day %>" class="py-3 pr-3 schedule-table hidden">
            <div class="flex flex-row gap-x-3">
              <div class="flex flex-col">
                <%= render partial: 'components/timeline', locals: { events: [
                {start_time: "11:00", end_time: "12:00", participating: true},
                {start_time: "14:00", end_time: "15:00", participating: true},
              ], start_time: '11:00', end_time: '17:00' } %>
              </div>
              <div class="w-full flex flex-col gap-y-3" id="mobile-table-<%= day %>">
                <% @schedule_table[day].rows.each do |row| %>
                  <%= turbo_frame_tag row.turbo_stream_id do %>
                    <%= render 'components/session',
                               session_id: row.turbo_stream_id,
                               start_end: row.start_end,
                               location: row.schedules.find { @user&.current_plan&.schedules&.include?(_1) }&.track&.name,
                               sessions: row.schedules,
                               attendees: @user&.profile&.friend_profiles&.select { |profile|
                                 @friends_schedules_map[profile.id].include?(row.schedules.first.id) # FIXME
                               }&.map { |profile|
                                 {
                                   name: profile.name,
                                   avatar_url: profile.avatar_url,
                                 }
                               } || [],
                               scheduled: row.schedules.find { @user&.current_plan&.schedules&.include?(_1) }
                    %>
                  <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
<%= turbo_frame_tag "modal" %>
