<%= form_with(url: event_plan_path(plan, event_name: plan.event.name), model: plan) do |f| %>
  <%= render 'components/dialog', title: I18n.t("description.form_title"), action_button: { title: I18n.t('button.save'), form_helper: f } do %>
    <div class="mb-2">
      <%= render 'components/form_control', input_type: :plan_title, label: :title, errors: plan.errors.where(:title) do %>
        <%= render 'components/text_field', form_helper: f, attribute: :title, classes: "w-full" %>
      <% end %>
    </div>
    <div class="mb-2">
      <%= render 'components/form_control', input_type: :plan_description, label: :description, errors: plan.errors.where(:description) do %>
        <%= render 'components/textarea', form_helper: f, attribute: :description, rows: 5 %>
      <% end %>
    </div>
  <% end %>
<% end %>
