
<dialog id="make-editable-dialog" class="dialog">
  <%= form_with(url: event_plan_own_url(@plan, event_name: @plan.event.name), method: :patch) do |f| %>
    <div class="border-b border-[rgb(214,211,208)] py-4 px-6 flex flex-col justify-start">
      <p class="my-0 text-xl"><%= I18n.t('settings.title') %></p>
    </div>
    <div class="max-h-[calc(100vh-212px)] overflow-auto">
      <div class="w-[656px] p-6 border-b border-[rgb(214,211,208)]">
        <div class="py-2 w-full">
          <div><%= f.label :password, I18n.t('dialog.input_password'), class: "text-[rgb(112,109,101)] font-bold" %></div>
          <div class="mt-4">
            <%= f.password_field :password, class: "w-full rounded-md text-[rgb(35,34,30)]" %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col border-t border-[rgb(214,211,208)] py-4 px-6">
      <div class="flex justify-end">
        <a href="#" class="normal-button mr-2" data-action="click->dialog#close"><%= I18n.t('button.close')%></a>
        <%= f.submit I18n.t('button.make_editable'), data: { action: "click->dialog#close", "word-counter-target": "submit" }, class: "primary-button" %>
      </div>
    </div>
  <% end %>
</dialog>