
<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <meta property="og:description" content="<%= @plan.description %>">
  <meta property="og:url" content="<%= event_plan_url(event_name: @plan.event.name) %>">
<% end %>

<div data-controller="schedule-table">
  <div class="flex justify-center pb-4">
    <div class="flex border-b border-[#CDCFD5] w-fit">
      <% @plan_table.days.each do |day| %>
        <button data-action="click->schedule-table#switch" value="<%= day %>" class="tab-button bg-transparent appearance-none text-sm px-4 pt-2 pb-[5px] border-b-[3px] border-transparent hover:bg-[rgb(248,247,246)]">
          <%= day %>
        </button>
      <% end %>
    </div>
  </div>

  <div class="flex items-center mb-2">
    <div class="mr-2">
      <% if @plan.user.profile %>
        <%= render 'components/avatar', src: @plan.user.profile.avatar_url, name: @plan.user.profile.name %>
      <% else %>
        <div class="relative group">
          <img src="<%= asset_path("default_icon.svg") %>" class="w-10 h-10 p-1 rounded-full border-2 border-[#CECFD5] bg-white">
          </img>
        </div>
      <% end %>
    </div>
    <h2 class="text-2xl font-bold"><%= @plan.title %></h2>
  </div>

  <div class="bg-white rounded-lg p-4 mb-7">
    <div class="flex justify-between items-center mb-2">
      <h3 class="text-base font-bold"><%= I18n.t('description.title') %></h3>
    </div>
    <p class="text-base"><%= @plan.description %></p>
  </div>

  <% cache [@plan_table, @plan] do %>
    <div class="overflow-y-auto">
      <% @plan_table.days.each do |day| %>
        <div id="schedule-<%= day %>" class="pb-3 pr-3 schedule-table hidden">
          <div class="flex flex-row gap-x-3">
            <div class="flex flex-col" id="schedule-index-timeline-<%= day %>">
              <%= render partial: 'components/timeline',
                         locals: {
                           events: @plan_table[day].rows.map {
                             { start_time: _1.start_at, end_time: _1.end_at, participating: _1.schedules.any? { |s| @plan.include?(s) } }
                           },
                           start_time: @plan_table[day].rows.first.start_at,
                           end_time: @plan_table[day].rows.last.end_at,
                         }
              %>
            </div>
            <div class="w-full flex flex-col gap-y-3" id="mobile-table-<%= day %>">
              <% @plan_table[day].rows.each do |row| %>
                <%= render 'components/session',
                           row: row,
                           location: row.schedules.find { @user&.current_plan&.schedules&.include?(_1) }&.track&.name,
                           scheduled: row.schedules.find { @user&.current_plan&.schedules&.include?(_1) },
                           team: @user.profile.current_team,
                           friends_schedules_map: @friends_schedules_map,
                           teammates_schedules_map: @teammate_schedules_map,
                           no_buttons: true
                %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
