
<% content_for :head do %>
  <meta property="og:title" content="<%= @plan.title %>">
  <meta property="og:site_name" content="RubyKaigi Takeout 2021 Schedule.select powerd by SmartHR">
  <meta property="og:description" content="<%= @plan.description %>">
  <meta property="og:url" content="<%= plan_url %>">
  <meta property="og:image" content="<%= plan_ogp_url(@plan) %>" />
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image"/>
<% end %>

<div style="display: flex; align-items: center; margin: 16px auto 24px; max-width: 1120px;">
  <div style="margin-right: auto;">
  <%= react_component("PlanTitle",create_plan_title_props(@plan, @user)) %>
  </div>
  <% if @plan.user == @user %>
    <%= react_component("SettingButton", create_setting_button_props(@plan)) %>
  <% end %>
</div>

<%= react_component("PlanDescription", create_plan_description_props(@plan, @user)) %>
<%= react_component("PlanTable",create_plan_table_props(@plan, @user))  %>
