<!DOCTYPE html>
<%= javascript_pack_tag 'application' %>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <title>RubyKaigi 2021 Takeout Schedule.select</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <%= yield(:head) %>
  </head>

  <body style="font-family: 'Roboto', 'Noto Sans JP', sans-serif;">
    <header>
      <%= react_component("Navigation", create_navigation_props) %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <% flash.each do |k, v| %>
    <%= react_component("Flash", type: k, message: v) %>
  <% end %>
  </body>
</html>
