<!DOCTYPE html>
<%= javascript_pack_tag 'application' %>
<html>
  <head>
    <title>Mie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <header>
      <%= react_component("Navigation", current: request.path.split("/")[1], schedulesLink: schedules_path, plansLink: plan_path(@user.plans&.first), locales: create_locale_selector_props) %>
    </header>
    <%= yield %>
    <% flash.each do |k, v| %>
    <%= react_component("Flash", type: k, message: v) %>
  <% end %>
  </body>
</html>
