<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <title>RubyKaigi Schedule.select</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('2021/favicon.ico') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Roboto:wght@400;500&display=auto" rel="stylesheet">

    <meta name="turbo-visit-control" content="reload">
    <%= yield(:head) %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-[#f8f7f6]" style="font-family: 'Roboto', 'Noto Sans JP', sans-serif;">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class="p-8">
      <%= yield %>
    </div>
  </body>
</html>
