<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <title>RubyKaigi Schedule.select</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% unless Rails.env.test? %>
      <%= favicon_link_tag("#{@event.name}/favicon.ico") %>
    <% end %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <style type="text/css">
      body {
        --mainColor: <%= @event.event_theme.main_color %>;
        --hoverColor: <%= @event.event_theme.main_color %>;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Noto+Sans+JP:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <% if Rails.env.test? %>
      <%= tag :meta, name: :rails_env, content: Rails.env %>
    <% end %>
    <meta property="og:title" content="RubyKaigi Schedule.select">
    <meta property="og:site_name" content="RubyKaigi Schedule.select powered by SmartHR">
    <% unless Rails.env.test? %>
      <% if controller_name == 'plans' && action_name = 'show' && @plan %>
        <meta property="og:image" content="<%= event_plan_ogp_url(@plan, event_name: @plan.event.name, h: Digest::MD5.hexdigest(@plan.description)) %>" />
      <% else %>
        <meta property="og:image" content="<%= asset_url("#{@event.name}/ogp_top.png") %>" />
      <% end %>
    <% end %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image"/>
    <%= yield(:head) %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-[var(--semantic-neutral-background-sub)] leading-4 font-sans">
    <%= render 'components/app_header' %>
    <main class="p-4 sm:p-8 min-h-screen">
      <%= yield %>
    </main>
    <%= render 'components/footer' %>
  </body>
</html>
